html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-light-gray;

  &.menu-open {
    @include mq($bp768max) {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

#main {
  max-width: 1200px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  background: $color-dark-gray;

  @include mq($bp768) {
    padding-top: 100px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  .header-wrapper {
    width: 100%;
    width: calc(100% + 2px);
    @include clearfix;
    background: $color-dark-gray;
    max-width: 1200px;
    @include centered('x');
    border-bottom: 1px solid $color-dim-gray;
    height: 50px;
    transition: 200ms height ease-in;

    @include mq($bp768) {
      height: 100px;

      &.scrolled {
        height: 70px;
      }
    }
  }

  h1 {
    color: $color-white;
    font-size: 20px;
    text-transform: uppercase;
    width: 70%;
    @include centered('y');
    left: 0;
    margin-left: 8%;
    transition: opacity 1s ease-in;
    letter-spacing: 2px;

    @include mq($bp768) {
      font-size: 32px;
      width: 40%;
      margin-left: 50px;
      letter-spacing: 4px;
    }
  }

  #main-nav {
    right: 0;
    margin-right: 8%;

    @include mq($bp768) {
      width: 60%;
      height: 50px;
      margin-right: 50px;
      width: 320px;
      @include centered('y');
    }

    #hamburger {
      @include hamburger;

      @include mq($bp768) {
        display: none;
      }
    }

    ul {
      display: none;

      @include mq($bp768max) {
        position: fixed;
        opacity: 0;
        transition: opacity 1s;

        &.open {
          opacity: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          margin-top: 50px;
          position: fixed;
          z-index: 1000;
          display: block;
          background: $color-dark-gray;
        }
      }

      @include mq($bp768) {
        display: block;
        @include centered('y');
        right: 0;
        position: static;

        &.open {
          width: auto;
          padding: 0;
        }
      }

      li {
        text-align: center;
        margin: 30px 0;

        @include mq($bp768) {
          float: left;
          text-align: left;
          margin: 0 0 0 40px;
          line-height: 50px;

          &:first-child {
            margin-left: 0;
          }
        }

        a {
          color: $color-white;
          font-size: 20px;
          line-height: 28px;
          transition: color 500ms;
          letter-spacing: 2px;

          &:hover {
            color: $color-dim-gray;
          }
        }
      }
    }
  }
}

#hero {
  background: $color-dark-gray;
  padding: 30px 8%;

  @include mq($bp768) {
    padding: 50px;
  }

  h2 {
    color: $color-white;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 2px;

    @include mq($bp768) {
      font-size: 36px;
      line-height: 42px;
      text-align: left;
    }
  }

  .specialties-wrapper {
    @include clearfix;
    margin: 30px 0;

    @include mq($bp768) {
      margin: 10px 0;
    }

    .image {
      background: url('../img/diego.jpg');
      background-size: cover;
      background-position: 50%;
      width: 45%;
      margin-left: 5%;
      float: right;
      height: 180px;

      @include mq($bp580) {
        height: 270px;
      }

      @include mq($bp768) {
        display: none;
      }
    }
  }

  .specialties {
    color: $color-white;
    @include clearfix;
    padding: 20px 0;
    width: 45%;
    float: left;
    margin-right: 5%;

    @include mq($bp768) {
      margin-right: 0;
      float: none;
      width: 100%;
    }

    li {
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      margin-bottom: 10px;
      display: block;
      text-align: center;

      @include mq($bp768) {
        width: auto;
        float: left;
        border-right: 1px solid $color-white;
        padding: 0 15px;
        margin-bottom: 0;
        text-align: left;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: 0;
        }
      }
    }
  }
}

#about {
  background: $color-dim-gray;

  @include mq($bp768) {
    display: flex;
  }

  .text {
    color: $color-white;
    padding: 30px 8%;
    box-sizing: border-box;

    @include mq($bp768) {
      flex: 1;
      flex-basis: 50%;
      padding: 60px 50px;
    }

    @include mq($bp960) {
      flex-basis: 60%;
    }

    h3 {
      font-size: 24px;
      line-height: 36px; 
      margin-bottom: 20px;
      letter-spacing: 2px;

      @include mq($bp768) {
        font-size: 32px;
        line-height: 42px; 
      }
    }

    p {
      display: block;
      font-size: 18px;
      line-height: 30px; 
      margin-bottom: 15px;
      font-weight: 300;

      a {
        color: $color-white;
        text-decoration: underline;
        transition: color 500ms;
        &:hover {
          color: $color-mid-gray;
        }
      }
    }

    a.contact {
      margin-top: 20px;
      @include button;
    }
  }
  .image {
    display: none;
  
    @include mq($bp768) {
      display: block;
      flex: 1;
      flex-basis: 50%;
      height: auto;
      background: url('../img/diego.jpg');
      background-size: cover;
      background-position: 50%;
    }

    @include mq($bp960) {
      width: 40%;
    }
  }
}

#projects {
  background: $color-mid-light-gray;
  padding: 20px 8%;

  @include mq($bp768) {
    padding: 30px 50px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px; 
    margin-bottom: 30px;
    letter-spacing: 2px;

    @include mq($bp768) {
      font-size: 32px;
      line-height: 42px; 
    }
  }

  .projects {
    @include mq($bp768) {
      display: flex;
    }

    li {
      margin-bottom: 50px;

      @include mq($bp768) {
        padding: 20px;
        margin-bottom: 0;
        flex: 1;
      }
      
      img {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }

      h4 {
        color: $color-black;
        font-size: 20px;
        line-height: 24px; 
        margin-bottom: 15px;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        
        a {
          color: $color-black;
        }
      }

      .links {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        a {
          display: block;
          color: $color-black;
          font-size: 14px;
          font-weight: 300;
          margin-right: 20px;
          border-bottom: 1px solid $color-black;
          padding-bottom: 3px;
          transition: 500ms all;

          &:hover {
            color: $color-dim-gray;
            border-bottom: 1px solid $color-dim-gray;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      p {
        color: $color-black;
        font-size: 16px;
        line-height: 24px; 
        margin-bottom: 20px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

#contact {
  background: $color-dim-gray;
  padding: 30px 8%;

  @include mq($bp768) {
    padding: 50px 50px;
  }

  p {
    color: $color-white;
    font-size: 24px;
    line-height: 36px; 
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
  }

  .contact {
    @include button;
    margin: 30px auto;
    width: 160px;
    text-align: center;
    display: block !important;
  }

  .links {
    display: flex;
    justify-content: center;
    margin: 50px 0 0;

    a {
      display: block;
      color: $color-white;
      font-size: 16px;
      font-weight: 300;
      margin-right: 20px;
      border-bottom: 1px solid $color-white;
      padding-bottom: 3px;
      transition: 500ms all;

      &:hover {
        color: $color-light-gray;
        border-bottom: 1px solid $color-light-gray;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#contact-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  transition: opacity 1s;
  
  &:before {
    content: '';
    display: block;
    background: $color-black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    opacity: .8;
  }

  .text {
    z-index: 3000;
    color: $color-white;
    @include centered;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;

    span {
      display: inline-block;
      margin-right: 30px;
      width: 70px;
    }

    div {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      transition: color 500ms;
  
      &:hover {
        cursor: pointer;
        color: $color-mid-gray;
      }
    }
  }

  .close {
    z-index: 3000;
    color: $color-white;
    position: absolute;
    top: 70px;
    right: 70px;
    background: transparent;
    font-weight: 300;
    font-size: 40px;
    transition: color 500ms;

    &:hover {
      cursor: pointer;
      color: $color-mid-gray;
    }
  }
}